.container-fluid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

#eren {
	width: 300px;
	height: 150px;
}

#erentwo {
	width: 400px;
	height: 150px;
}


div.erenstache {
	display: flex;
	flex-wrap: wrap;
	-webkit-filter: saturate(0);
  	filter: saturate(0);
	transition: 1s ease-in-out;
	transform: rotate(90deg);
	margin-top: 100px;
	
}

.erenstache:hover {
	cursor: pointer;
  	-webkit-filter: saturate(5);
  	filter: saturate(5);
	transition: .75s ease-in-out;
}


div.home-title {
	display: flex;
	flex-wrap: wrap;
	margin-top: 100px;
	opacity: 0;
	
	
}






